In [1]:
import pandas as pd

In [2]:
# One example fountain at JKU (same dataframe as Vienna)
jku_data = [
    {
        "id": 1,  # we start IDs at 1 for JKU
        "name": "JKU Campus Trinkbrunnen",
        "type_label": "drinking_fountain",
        "type_num": 4,
        "lat": 48.338028,
        "lng": 14.319583
    }
]

jku_df = pd.DataFrame(jku_data)
jku_df

,id,name,type_label,type_num,lat,lng
0,1,JKU Campus Trinkbrunnen,drinking_fountain,4,48.338028,14.319583

In [3]:
jku_df.to_csv("/Users/ar3s/Desktop/flowie_data/data/jku_fountains.csv", index=False)

jku_df.to_json(
    "/Users/ar3s/Desktop/flowie_data/data/jku_fountains.json",
    orient="records",
    force_ascii=False
)

### How to add a new JKU fountain

1. **Get the coordinates**
   - Find the fountain on Google Maps or another map.
   - Note the coordinates in decimal format (e.g. `48.338028, 14.319583`).
   - If you only have DMS (e.g. `48°20'16.9"N 14°19'10.5"E`), convert to decimal:
     - decimal = degrees + minutes/60 + seconds/3600

2. **Choose an ID**
   - Use the next free integer:
   ```python
   new_id = jku_df["id"].max() + 1

In [4]:
# new_fountain = {
#     "id": new_id,
#     "name": "Short name of the fountain",
#     "type_label": "drinking_fountain",  # or another type if we add more later
#     "type_num": 4,                      # keep 4 for normal Trinkbrunnen
#     "lat": <your_latitude>,
#     "lng": <your_longitude>
# }
# Append it to dataframe
# jku_df.loc[len(jku_df)] = new_fountain
# Update dataframe
# jku_df.to_csv("../data/jku_fountains.csv", index=False)
# jku_df.to_json("../data/jku_fountains.json",
#                orient="records",
#                force_ascii=False)
# Quick check
# jku_df.tail()