{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 1,
   "id": "7914ba99-189e-4097-ac71-9dcdc1294428",
   "metadata": {},
   "outputs": [],
   "source": [
    "import pandas as pd"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 2,
   "id": "3df41ef5-f96b-4704-bfec-c93da6ffffb9",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>FID</th>\n",
       "      <th>SHAPE</th>\n",
       "      <th>NAME</th>\n",
       "      <th>TYP_NUM</th>\n",
       "      <th>SE_SDO_ROWID</th>\n",
       "      <th>SE_ANNO_CAD_DATA</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>TRINKBRUNNENOGD.2255748</td>\n",
       "      <td>POINT (16.32592771593872 48.212913790547624)</td>\n",
       "      <td>Trinkbrunnen</td>\n",
       "      <td>4</td>\n",
       "      <td>2255748</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>TRINKBRUNNENOGD.2255749</td>\n",
       "      <td>POINT (16.47379576776317 48.23993838096623)</td>\n",
       "      <td>Trinkbrunnen</td>\n",
       "      <td>4</td>\n",
       "      <td>2255749</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>TRINKBRUNNENOGD.2255750</td>\n",
       "      <td>POINT (16.473719310932733 48.239967824396345)</td>\n",
       "      <td>Trinkbrunnen</td>\n",
       "      <td>4</td>\n",
       "      <td>2255750</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>TRINKBRUNNENOGD.2255751</td>\n",
       "      <td>POINT (16.473720828450936 48.23990717622222)</td>\n",
       "      <td>Trinkbrunnen</td>\n",
       "      <td>4</td>\n",
       "      <td>2255751</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>TRINKBRUNNENOGD.2255752</td>\n",
       "      <td>POINT (16.474217693776392 48.24066488215793)</td>\n",
       "      <td>Trinkbrunnen</td>\n",
       "      <td>4</td>\n",
       "      <td>2255752</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                       FID                                          SHAPE  \\\n",
       "0  TRINKBRUNNENOGD.2255748   POINT (16.32592771593872 48.212913790547624)   \n",
       "1  TRINKBRUNNENOGD.2255749    POINT (16.47379576776317 48.23993838096623)   \n",
       "2  TRINKBRUNNENOGD.2255750  POINT (16.473719310932733 48.239967824396345)   \n",
       "3  TRINKBRUNNENOGD.2255751   POINT (16.473720828450936 48.23990717622222)   \n",
       "4  TRINKBRUNNENOGD.2255752   POINT (16.474217693776392 48.24066488215793)   \n",
       "\n",
       "           NAME  TYP_NUM  SE_SDO_ROWID  SE_ANNO_CAD_DATA  \n",
       "0  Trinkbrunnen        4       2255748               NaN  \n",
       "1  Trinkbrunnen        4       2255749               NaN  \n",
       "2  Trinkbrunnen        4       2255750               NaN  \n",
       "3  Trinkbrunnen        4       2255751               NaN  \n",
       "4  Trinkbrunnen        4       2255752               NaN  "
      ]
     },
     "execution_count": 2,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "vienna_raw = pd.read_csv(\"/Users/ar3s/Desktop/flowie_data/data/TRINKBRUNNENOGD.csv\")\n",
    "\n",
    "vienna_raw.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "id": "c7025ab2-98d7-41a0-8443-5de9e8a8e1d2",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>FID</th>\n",
       "      <th>SHAPE</th>\n",
       "      <th>NAME</th>\n",
       "      <th>TYP_NUM</th>\n",
       "      <th>SE_SDO_ROWID</th>\n",
       "      <th>SE_ANNO_CAD_DATA</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1375</th>\n",
       "      <td>TRINKBRUNNENOGD.2254725</td>\n",
       "      <td>POINT (16.450558286904528 48.213169626776136)</td>\n",
       "      <td>Auslaufbrunnen</td>\n",
       "      <td>7</td>\n",
       "      <td>2254725</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1376</th>\n",
       "      <td>TRINKBRUNNENOGD.2254726</td>\n",
       "      <td>POINT (16.44350163735615 48.19876716128841)</td>\n",
       "      <td>Auslaufbrunnen</td>\n",
       "      <td>7</td>\n",
       "      <td>2254726</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1377</th>\n",
       "      <td>TRINKBRUNNENOGD.2254727</td>\n",
       "      <td>POINT (16.41265487050078 48.22057124820074)</td>\n",
       "      <td>Auslaufbrunnen</td>\n",
       "      <td>7</td>\n",
       "      <td>2254727</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1378</th>\n",
       "      <td>TRINKBRUNNENOGD.2254728</td>\n",
       "      <td>POINT (16.341579829475656 48.1897150654744)</td>\n",
       "      <td>Auslaufbrunnen</td>\n",
       "      <td>7</td>\n",
       "      <td>2254728</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1379</th>\n",
       "      <td>TRINKBRUNNENOGD.2254729</td>\n",
       "      <td>POINT (16.256040723512957 48.20363941194412)</td>\n",
       "      <td>Auslaufbrunnen</td>\n",
       "      <td>7</td>\n",
       "      <td>2254729</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                          FID                                          SHAPE  \\\n",
       "1375  TRINKBRUNNENOGD.2254725  POINT (16.450558286904528 48.213169626776136)   \n",
       "1376  TRINKBRUNNENOGD.2254726    POINT (16.44350163735615 48.19876716128841)   \n",
       "1377  TRINKBRUNNENOGD.2254727    POINT (16.41265487050078 48.22057124820074)   \n",
       "1378  TRINKBRUNNENOGD.2254728    POINT (16.341579829475656 48.1897150654744)   \n",
       "1379  TRINKBRUNNENOGD.2254729   POINT (16.256040723512957 48.20363941194412)   \n",
       "\n",
       "                NAME  TYP_NUM  SE_SDO_ROWID  SE_ANNO_CAD_DATA  \n",
       "1375  Auslaufbrunnen        7       2254725               NaN  \n",
       "1376  Auslaufbrunnen        7       2254726               NaN  \n",
       "1377  Auslaufbrunnen        7       2254727               NaN  \n",
       "1378  Auslaufbrunnen        7       2254728               NaN  \n",
       "1379  Auslaufbrunnen        7       2254729               NaN  "
      ]
     },
     "execution_count": 3,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "vienna_raw.tail()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "id": "90fd0ae5-10e7-4a51-9bef-1f88ced976da",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "array(['Trinkbrunnen', 'Trinkbrunnen mit Tränke', 'Spielbrunnen',\n",
       "       'Sprühnebeldusche', 'Grundwasserbrunnen', 'Wasserspielmöglichkeit',\n",
       "       'Bodenfontäne', 'Hundetrinkbrunnen', 'Trinkhydrant',\n",
       "       'Auslaufbrunnen', 'Zierbrunnen'], dtype=object)"
      ]
     },
     "execution_count": 4,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "vienna_raw[\"NAME\"].unique()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "id": "dccedc78-1ea6-4a10-8f8f-21a0c426ef86",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "NAME\n",
       "Trinkbrunnen mit Tränke    397\n",
       "Auslaufbrunnen             341\n",
       "Trinkbrunnen               273\n",
       "Trinkhydrant               151\n",
       "Spielbrunnen                94\n",
       "Sprühnebeldusche            88\n",
       "Wasserspielmöglichkeit      20\n",
       "Bodenfontäne                10\n",
       "Hundetrinkbrunnen            3\n",
       "Grundwasserbrunnen           2\n",
       "Zierbrunnen                  1\n",
       "Name: count, dtype: int64"
      ]
     },
     "execution_count": 5,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "vienna_raw[\"NAME\"].value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "id": "8c4ff948-1f30-46cf-8c67-5499b73d46f6",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "NAME                     TYP_NUM\n",
       "Auslaufbrunnen           7          341\n",
       "Bodenfontäne             12          10\n",
       "Grundwasserbrunnen       1            2\n",
       "Hundetrinkbrunnen        2            3\n",
       "Spielbrunnen             3           94\n",
       "Sprühnebeldusche         11          88\n",
       "Trinkbrunnen             4          273\n",
       "Trinkbrunnen mit Tränke  5          397\n",
       "Trinkhydrant             10         151\n",
       "Wasserspielmöglichkeit   13          20\n",
       "Zierbrunnen              6            1\n",
       "dtype: int64"
      ]
     },
     "execution_count": 6,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "vienna_raw.groupby([\"NAME\", \"TYP_NUM\"]).size()"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "342de204-16e5-4957-b4e6-199c4e4ad210",
   "metadata": {},
   "source": [
    "### Info about dataframe from gov.at\n",
    "There are <b>11 types of water sources</b> in the database.\n",
    "\n",
    "\n",
    "Translation of names to English:\n",
    "- Drinking fountain with trough 397<br>\n",
    "- Flow fountain                 341<br>\n",
    "- Drinking fountain             273<br>\n",
    "- Drinking hydrant              151<br>\n",
    "- Play fountain                 94<br>\n",
    "- Spray mist shower             88<br>\n",
    "- Water play facility           20<br>\n",
    "- Floor fountain                10<br>\n",
    "- Dog drinking fountain          3<br>\n",
    "- Groundwater fountain           2<br>\n",
    "- Ornamental fountain            1<br>\n",
    "\n",
    "ChatGPT said that <b>Trinkbrunnen</b> are the standard public drinking fountains.<br>\n",
    "<b>Trinkbrunnen mit Tränke</b> are drinking fountains with an additional dog bowl. Still perfectly safe for humans - extremely common in Vienna. All others are excluded.<br>\n",
    "This gives us <b>273 + 397 = 670 fountains</b>."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "id": "a78d21ad-0806-4eb3-8ad8-a96cf3071e39",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "NAME\n",
       "Trinkbrunnen mit Tränke    397\n",
       "Trinkbrunnen               273\n",
       "Name: count, dtype: int64"
      ]
     },
     "execution_count": 7,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# We keep only Trinkbrunnen (4) + Trinkbrunnen mit Tränke (5)\n",
    "vienna_filtered = vienna_raw[vienna_raw[\"TYP_NUM\"].isin([4, 5])].copy()\n",
    "\n",
    "vienna_filtered[\"NAME\"].value_counts()\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 8,
   "id": "872a7d24-630f-4ad5-8c65-726fd6d49b3a",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>SHAPE</th>\n",
       "      <th>lat</th>\n",
       "      <th>lng</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>POINT (16.32592771593872 48.212913790547624)</td>\n",
       "      <td>48.212914</td>\n",
       "      <td>16.325928</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>POINT (16.47379576776317 48.23993838096623)</td>\n",
       "      <td>48.239938</td>\n",
       "      <td>16.473796</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>POINT (16.473719310932733 48.239967824396345)</td>\n",
       "      <td>48.239968</td>\n",
       "      <td>16.473719</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>POINT (16.473720828450936 48.23990717622222)</td>\n",
       "      <td>48.239907</td>\n",
       "      <td>16.473721</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>POINT (16.474217693776392 48.24066488215793)</td>\n",
       "      <td>48.240665</td>\n",
       "      <td>16.474218</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "                                           SHAPE        lat        lng\n",
       "0   POINT (16.32592771593872 48.212913790547624)  48.212914  16.325928\n",
       "1    POINT (16.47379576776317 48.23993838096623)  48.239938  16.473796\n",
       "2  POINT (16.473719310932733 48.239967824396345)  48.239968  16.473719\n",
       "3   POINT (16.473720828450936 48.23990717622222)  48.239907  16.473721\n",
       "4   POINT (16.474217693776392 48.24066488215793)  48.240665  16.474218"
      ]
     },
     "execution_count": 8,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "def wkt_point_to_lat_lng(wkt_str: str):\n",
    "    \"\"\"\n",
    "    Convert str 'POINT (lon lat)' -> (lat, lng)\n",
    "    \"\"\"\n",
    "    wkt_str = wkt_str.strip()\n",
    "    coords_str = wkt_str.replace(\"POINT (\", \"\").replace(\")\", \"\")\n",
    "    lon_str, lat_str = coords_str.split()\n",
    "    lon = float(lon_str)\n",
    "    lat = float(lat_str)\n",
    "    return lat, lon\n",
    "\n",
    "# Apply to the SHAPE column,then expand into two new columns\n",
    "vienna_filtered[[\"lat\", \"lng\"]] = vienna_filtered[\"SHAPE\"].apply(\n",
    "    lambda s: pd.Series(wkt_point_to_lat_lng(s))\n",
    ")\n",
    "\n",
    "vienna_filtered[[\"SHAPE\", \"lat\", \"lng\"]].head()\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 9,
   "id": "8e1c8fcf-3924-4871-9f37-1f9a9c59ec99",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>name</th>\n",
       "      <th>type_label</th>\n",
       "      <th>type_num</th>\n",
       "      <th>lat</th>\n",
       "      <th>lng</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2255748</td>\n",
       "      <td>Trinkbrunnen</td>\n",
       "      <td>drinking_fountain</td>\n",
       "      <td>4</td>\n",
       "      <td>48.212914</td>\n",
       "      <td>16.325928</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2255749</td>\n",
       "      <td>Trinkbrunnen</td>\n",
       "      <td>drinking_fountain</td>\n",
       "      <td>4</td>\n",
       "      <td>48.239938</td>\n",
       "      <td>16.473796</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2255750</td>\n",
       "      <td>Trinkbrunnen</td>\n",
       "      <td>drinking_fountain</td>\n",
       "      <td>4</td>\n",
       "      <td>48.239968</td>\n",
       "      <td>16.473719</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>2255751</td>\n",
       "      <td>Trinkbrunnen</td>\n",
       "      <td>drinking_fountain</td>\n",
       "      <td>4</td>\n",
       "      <td>48.239907</td>\n",
       "      <td>16.473721</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>2255752</td>\n",
       "      <td>Trinkbrunnen</td>\n",
       "      <td>drinking_fountain</td>\n",
       "      <td>4</td>\n",
       "      <td>48.240665</td>\n",
       "      <td>16.474218</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "        id          name         type_label  type_num        lat        lng\n",
       "0  2255748  Trinkbrunnen  drinking_fountain         4  48.212914  16.325928\n",
       "1  2255749  Trinkbrunnen  drinking_fountain         4  48.239938  16.473796\n",
       "2  2255750  Trinkbrunnen  drinking_fountain         4  48.239968  16.473719\n",
       "3  2255751  Trinkbrunnen  drinking_fountain         4  48.239907  16.473721\n",
       "4  2255752  Trinkbrunnen  drinking_fountain         4  48.240665  16.474218"
      ]
     },
     "execution_count": 9,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# id: TRINKBRUNNENOGD.2255748 -> 2255748\n",
    "vienna_filtered[\"id\"] = vienna_filtered[\"FID\"].str.split(\".\").str[-1].astype(int)\n",
    "\n",
    "# Our own English label for the app \n",
    "vienna_filtered[\"type_label\"] = vienna_filtered[\"NAME\"].replace({\n",
    "    \"Trinkbrunnen\": \"drinking_fountain\",\n",
    "    \"Trinkbrunnen mit Tränke\": \"drinking_fountain_with_trough\"\n",
    "})\n",
    "\n",
    "# The final clean data\n",
    "vienna_clean = vienna_filtered[[\n",
    "    \"id\",          # numeric id\n",
    "    \"NAME\",        # original human-readable name\n",
    "    \"type_label\",  # our own label for the app\n",
    "    \"TYP_NUM\",     # original type code, just in case\n",
    "    \"lat\", \"lng\"   # coordinates\n",
    "]].rename(columns={\n",
    "    \"NAME\": \"name\",\n",
    "    \"TYP_NUM\": \"type_num\"\n",
    "})\n",
    "\n",
    "vienna_clean.head()\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 10,
   "id": "c5722eca-c481-4140-a65e-fa94ad9a9a3f",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>name</th>\n",
       "      <th>type_label</th>\n",
       "      <th>type_num</th>\n",
       "      <th>lat</th>\n",
       "      <th>lng</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>1087</th>\n",
       "      <td>2254437</td>\n",
       "      <td>Trinkbrunnen</td>\n",
       "      <td>drinking_fountain</td>\n",
       "      <td>4</td>\n",
       "      <td>48.236799</td>\n",
       "      <td>16.404478</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1088</th>\n",
       "      <td>2254438</td>\n",
       "      <td>Trinkbrunnen</td>\n",
       "      <td>drinking_fountain</td>\n",
       "      <td>4</td>\n",
       "      <td>48.241611</td>\n",
       "      <td>16.398685</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1089</th>\n",
       "      <td>2254439</td>\n",
       "      <td>Trinkbrunnen</td>\n",
       "      <td>drinking_fountain</td>\n",
       "      <td>4</td>\n",
       "      <td>48.245483</td>\n",
       "      <td>16.395727</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1090</th>\n",
       "      <td>2254440</td>\n",
       "      <td>Trinkbrunnen</td>\n",
       "      <td>drinking_fountain</td>\n",
       "      <td>4</td>\n",
       "      <td>48.247016</td>\n",
       "      <td>16.393796</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1091</th>\n",
       "      <td>2254441</td>\n",
       "      <td>Trinkbrunnen</td>\n",
       "      <td>drinking_fountain</td>\n",
       "      <td>4</td>\n",
       "      <td>48.267780</td>\n",
       "      <td>16.375457</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "           id          name         type_label  type_num        lat        lng\n",
       "1087  2254437  Trinkbrunnen  drinking_fountain         4  48.236799  16.404478\n",
       "1088  2254438  Trinkbrunnen  drinking_fountain         4  48.241611  16.398685\n",
       "1089  2254439  Trinkbrunnen  drinking_fountain         4  48.245483  16.395727\n",
       "1090  2254440  Trinkbrunnen  drinking_fountain         4  48.247016  16.393796\n",
       "1091  2254441  Trinkbrunnen  drinking_fountain         4  48.267780  16.375457"
      ]
     },
     "execution_count": 10,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "vienna_clean.tail()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 11,
   "id": "bcbdb509-2e09-4f04-b774-55865f7726c5",
   "metadata": {},
   "outputs": [],
   "source": [
    "# Saved as CSV\n",
    "vienna_clean.to_csv(\"/Users/ar3s/Desktop/flowie_data/data/vienna_fountains_clean.csv\", index=False)\n",
    "\n",
    "# I also save as JSON just in case\n",
    "vienna_clean.to_json(\n",
    "    \"/Users/ar3s/Desktop/flowie_data/data/vienna_fountains_clean.json\",\n",
    "    orient=\"records\",\n",
    "    force_ascii=False\n",
    ")\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "e2675984-c818-4c82-97d1-7cf65d6458ac",
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3 (ipykernel)",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.14.0"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}

In [2]:
vienna_raw = pd.read_csv("/Users/ar3s/Desktop/flowie_data/data/TRINKBRUNNENOGD.csv")

vienna_raw.head()

,FID,SHAPE,NAME,TYP_NUM,SE_SDO_ROWID,SE_ANNO_CAD_DATA
0,TRINKBRUNNENOGD.2255748,POINT (16.32592771593872 48.212913790547624),Trinkbrunnen,4,2255748,NaN
1,TRINKBRUNNENOGD.2255749,POINT (16.47379576776317 48.23993838096623),Trinkbrunnen,4,2255749,NaN
2,TRINKBRUNNENOGD.2255750,POINT (16.473719310932733 48.239967824396345),Trinkbrunnen,4,2255750,NaN
3,TRINKBRUNNENOGD.2255751,POINT (16.473720828450936 48.23990717622222),Trinkbrunnen,4,2255751,NaN
4,TRINKBRUNNENOGD.2255752,POINT (16.474217693776392 48.24066488215793),Trinkbrunnen,4,2255752,NaN

In [3]:
vienna_raw.tail()

,FID,SHAPE,NAME,TYP_NUM,SE_SDO_ROWID,SE_ANNO_CAD_DATA
1375,TRINKBRUNNENOGD.2254725,POINT (16.450558286904528 48.213169626776136),Auslaufbrunnen,7,2254725,NaN
1376,TRINKBRUNNENOGD.2254726,POINT (16.44350163735615 48.19876716128841),Auslaufbrunnen,7,2254726,NaN
1377,TRINKBRUNNENOGD.2254727,POINT (16.41265487050078 48.22057124820074),Auslaufbrunnen,7,2254727,NaN
1378,TRINKBRUNNENOGD.2254728,POINT (16.341579829475656 48.1897150654744),Auslaufbrunnen,7,2254728,NaN
1379,TRINKBRUNNENOGD.2254729,POINT (16.256040723512957 48.20363941194412),Auslaufbrunnen,7,2254729,NaN

In [4]:
vienna_raw["NAME"].unique()

array(['Trinkbrunnen', 'Trinkbrunnen mit Tränke', 'Spielbrunnen',
       'Sprühnebeldusche', 'Grundwasserbrunnen', 'Wasserspielmöglichkeit',
       'Bodenfontäne', 'Hundetrinkbrunnen', 'Trinkhydrant',
       'Auslaufbrunnen', 'Zierbrunnen'], dtype=object)

In [5]:
vienna_raw["NAME"].value_counts()

NAME
Trinkbrunnen mit Tränke    397
Auslaufbrunnen             341
Trinkbrunnen               273
Trinkhydrant               151
Spielbrunnen                94
Sprühnebeldusche            88
Wasserspielmöglichkeit      20
Bodenfontäne                10
Hundetrinkbrunnen            3
Grundwasserbrunnen           2
Zierbrunnen                  1
Name: count, dtype: int64

In [6]:
vienna_raw.groupby(["NAME", "TYP_NUM"]).size()

NAME                     TYP_NUM
Auslaufbrunnen           7          341
Bodenfontäne             12          10
Grundwasserbrunnen       1            2
Hundetrinkbrunnen        2            3
Spielbrunnen             3           94
Sprühnebeldusche         11          88
Trinkbrunnen             4          273
Trinkbrunnen mit Tränke  5          397
Trinkhydrant             10         151
Wasserspielmöglichkeit   13          20
Zierbrunnen              6            1
dtype: int64

### Info about dataframe from gov.at
There are <b>11 types of water sources</b> in the database.


Translation of names to English:
- Drinking fountain with trough 397<br>
- Flow fountain                 341<br>
- Drinking fountain             273<br>
- Drinking hydrant              151<br>
- Play fountain                 94<br>
- Spray mist shower             88<br>
- Water play facility           20<br>
- Floor fountain                10<br>
- Dog drinking fountain          3<br>
- Groundwater fountain           2<br>
- Ornamental fountain            1<br>

ChatGPT said that <b>Trinkbrunnen</b> are the standard public drinking fountains.<br>
<b>Trinkbrunnen mit Tränke</b> are drinking fountains with an additional dog bowl. Still perfectly safe for humans - extremely common in Vienna. All others are excluded.<br>
This gives us <b>273 + 397 = 670 fountains</b>.

In [7]:
# We keep only Trinkbrunnen (4) + Trinkbrunnen mit Tränke (5)
vienna_filtered = vienna_raw[vienna_raw["TYP_NUM"].isin([4, 5])].copy()

vienna_filtered["NAME"].value_counts()

NAME
Trinkbrunnen mit Tränke    397
Trinkbrunnen               273
Name: count, dtype: int64

In [8]:
def wkt_point_to_lat_lng(wkt_str: str):
    """
    Convert str 'POINT (lon lat)' -> (lat, lng)
    """
    wkt_str = wkt_str.strip()
    coords_str = wkt_str.replace("POINT (", "").replace(")", "")
    lon_str, lat_str = coords_str.split()
    lon = float(lon_str)
    lat = float(lat_str)
    return lat, lon

# Apply to the SHAPE column,then expand into two new columns
vienna_filtered[["lat", "lng"]] = vienna_filtered["SHAPE"].apply(
    lambda s: pd.Series(wkt_point_to_lat_lng(s))
)

vienna_filtered[["SHAPE", "lat", "lng"]].head()

                                           SHAPE        lat        lng
0   POINT (16.32592771593872 48.212913790547624)  48.212914  16.325928
1    POINT (16.47379576776317 48.23993838096623)  48.239938  16.473796
2  POINT (16.473719310932733 48.239967824396345)  48.239968  16.473719
3   POINT (16.473720828450936 48.23990717622222)  48.239907  16.473721
4   POINT (16.474217693776392 48.24066488215793)  48.240665  16.474218

In [9]:
# id: TRINKBRUNNENOGD.2255748 -> 2255748
vienna_filtered["id"] = vienna_filtered["FID"].str.split(".").str[-1].astype(int)

# Our own English label for the app 
vienna_filtered["type_label"] = vienna_filtered["NAME"].replace({
    "Trinkbrunnen": "drinking_fountain",
    "Trinkbrunnen mit Tränke": "drinking_fountain_with_trough"
})

# The final clean data
vienna_clean = vienna_filtered[[
    "id",          # numeric id
    "NAME",        # original human-readable name
    "type_label",  # our own label for the app
    "TYP_NUM",     # original type code, just in case
    "lat", "lng"   # coordinates
]].rename(columns={
    "NAME": "name",
    "TYP_NUM": "type_num"
})

vienna_clean.head()

        id          name         type_label  type_num        lat        lng
0  2255748  Trinkbrunnen  drinking_fountain         4  48.212914  16.325928
1  2255749  Trinkbrunnen  drinking_fountain         4  48.239938  16.473796
2  2255750  Trinkbrunnen  drinking_fountain         4  48.239968  16.473719
3  2255751  Trinkbrunnen  drinking_fountain         4  48.239907  16.473721
4  2255752  Trinkbrunnen  drinking_fountain         4  48.240665  16.474218

In [10]:
vienna_clean.tail()

           id          name         type_label  type_num        lat        lng
1087  2254437  Trinkbrunnen  drinking_fountain         4  48.236799  16.404478
1088  2254438  Trinkbrunnen  drinking_fountain         4  48.241611  16.398685
1089  2254439  Trinkbrunnen  drinking_fountain         4  48.245483  16.395727
1090  2254440  Trinkbrunnen  drinking_fountain         4  48.247016  16.393796
1091  2254441  Trinkbrunnen  drinking_fountain         4  48.267780  16.375457

In [11]:
# Saved as CSV
vienna_clean.to_csv("/Users/ar3s/Desktop/flowie_data/data/vienna_fountains_clean.csv", index=False)

# I also save as JSON just in case
vienna_clean.to_json(
    "/Users/ar3s/Desktop/flowie_data/data/vienna_fountains_clean.json",
    orient="records",
    force_ascii=False
)